[user]
	name = Sidhant Sharma
	email = sidhant.sharma1208@gmail.com
[alias]
	cc = rev-list HEAD --count
[sendemail]
	smtpuser = sidhant.sharma1208@gmail.com
	smtpserver = smtp.gmail.com
	smtpencryption = tls
	smtpserverport = 587
	suppresscc = self
[format]
	signOff = true
